@use "utilities/global" as *;

@include reset;

@font-face {
  font-family: "Hanken Grotesk";
  src: url("../assets/fonts/HankenGrotesk-VariableFont_wght.ttf");
  font-weight: 500 800;
}

@supports not (font-variation-settings: normal) {
  @font-face {
    font-family: "Hanken Grotesk";
    src: url("../assets/fonts/static/HankenGrotesk-Medium.ttf");
    font-weight: 500;
  }
  @font-face {
    font-family: "Hanken Grotesk";
    src: url("../assets/fonts/static/HankenGrotesk-Bold.ttf");
    font-weight: 700;
  }
  @font-face {
    font-family: "Hanken Grotesk";
    src: url("../assets/fonts/static/HankenGrotesk-ExtraBold.ttf");
    font-weight: 800;
  }
}

body {
  font-family: "Hanken Grotesk";
  background-color: $pale-blue;
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1;
  @media (min-width: $bp1) {
    align-items: center;
  }
}
