@import "utilities/variables.css";

.result {
  background: linear-gradient(
    180deg,
    hsl(252, 100%, 67%) 0%,
    hsl(252, 100%, 63%) 0.01%,
    hsl(241, 81%, 54%) 100%
  );
  box-shadow: 0px 30px 60px hsla(224, 82%, 58%, 0.15);
  border-radius: 0px 0px 32px 32px;
  padding-block: 24pr 40pr;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (min-width: $bp1) {
    padding-block: 38pr 46pr;
    border-radius: 32px;
  }

  h1 {
    color: $light-lavender;
    /* @include setFont(rem(18px), 23.45px, 700); */
    font-size: 18pr;
    line-height: 23.45px;
    font-weight: 700;
    margin-bottom: 24pr;
    @media (min-width: $bp1) {
      /* @include setFont(rem(24px), 31.27px); */
      font-size: 24pr;
      line-height: 31.27px;
      margin-bottom: 35pr;
    }
  }

  .circle {
    width: 140pr;
    height: 140pr;
    background-image: linear-gradient(
      180deg,
      hsl(256, 72%, 46%) 0%,
      hsla(241, 72%, 46%, 0) 100%,
      hsla(241, 72%, 46%, 0) 100%
    );
    border-radius: 50%;
    margin-inline: auto;
    margin-bottom: 24pr;
    padding-top: 25pr;
    text-align: center;
    @media (min-width: $bp1) {
      width: 200pr;
      height: 200pr;
      margin-bottom: 28pr;
      padding-top: 55pr;
    }
  }

  .score {
    /* @include setFont(rem(56px), 72px, 800); */
    font-size: 56pr;
    line-height: 72px;
    font-weight: 800;
    color: $white;
    @media (min-width: $bp1) {
      /* @include setFont(rem(72px), 72px); */
      font-size: 72pr;
      line-height: 72px;
      margin-bottom: 4pr;
    }
  }

  .outof {
    /* @include setFont(rem(16px), 20.85px, 700); */
    font-size: 16pr;
    line-height: 20.85px;
    font-weight: 700;
    color: $light-lavender;
    @media (min-width: $bp1) {
      /* @include setFont(rem(18px), 23.45px); */
      font-size: 18pr;
      line-height: 23.45px;
    }
  }

  h2 {
    /* @include setFont(rem(24px), 31.27px, 700); */
    font-size: 24pr;
    line-height: 31.27px;
    font-weight: 700;
    margin-bottom: 8pr;
    color: $white;
    @media (min-width: $bp1) {
      /* @include setFont(rem(32px), 41.7px); */
      font-size: 32pr;
      line-height: 41.7px;
      margin-bottom: 14pr;
    }
  }

  p {
    /* @include setFont(rem(16px), 20.85px, 500); */
    font-size: 16pr;
    line-height: 20.85px;
    font-weight: 500;
    color: $light-lavender;
    max-width: 270pr;
    @media (min-width: $bp1) {
      /* @include setFont(rem(18px), 23.45px); */
      font-size: 18pr;
      line-height: 23.45px;
      max-width: 240pr;
    }
  }

  .linebreak {
    @media (min-width: $bp1) {
      display: none;
    }
  }
}
