@import "utilities/variables.css";

.summary {
  padding: 24pr 30pr 30pr;

  h1 {
    /* @include setFont(rem(18px), 23.45px, 700); */
    font-size: 18pr;
    line-height: 23.45px;
    font-weight: 700;
    color: $dark-gray-blue;
    margin-bottom: 24pr;
  }

  ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 16pr;
    margin-bottom: 24pr;
  }

  li {
    padding: 17pr 16pr 18pr;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;

    &:first-of-type {
      color: $light-red;
      background-color: hsla(0, 100%, 67%, 0.05);
    }
    &:nth-of-type(2) {
      color: $orangey-yellow;
      background-color: hsla(39, 100%, 56%, 0.05);
    }
    &:nth-of-type(3) {
      color: $green-teal;
      background-color: hsla(166, 100%, 37%, 0.05);
    }
    &:nth-of-type(4) {
      color: $cobalt-blue;
      background-color: hsla(234, 85%, 45%, 0.05);
    }
  }
}

.category {
  display: flex;
  gap: 12pr;
  align-items: center;
}

.score_ratio {
  /* @include setFont(rem(16px), 20.85px, 700); */
  font-size: 16pr;
  line-height: 20.85px;
  font-weight: 700;
  color: hsla(224, 30%, 27%, 0.5);
}

.score {
  color: $dark-gray-blue;
  margin-right: 8pr;
}

button {
  width: 100%;
  border: 0;
  padding-block: 17pr 16pr;
  border-radius: 128px;
  color: $white;
  background-color: $dark-gray-blue;
  cursor: pointer;
  /* @include setFont(rem(18px), 23.45px, 700); */
  font-size: 18pr;
  line-height: 23.45px;
  font-weight: 700;
  &:hover {
    background-image: linear-gradient(
      180deg,
      #7755ff 0%,
      #6943ff 0.01%,
      #2f2ce9 100%
    );
  }
}
